.notam-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.notam-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  text-align: center;
  background: linear-gradient(145deg, #ffffff, #f4f4f4);
  transform: translateZ(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.notam-card.expanded {
  background: linear-gradient(145deg, #ffffff, #e0e0e0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.notam-card:hover {
  transform: translateY(-8px);
  box-shadow: 5px 5px 10px black, -5px -5px 10px darkgrey;
}

.notam-heading {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}

.notam-content {
  font-size: 1rem;
  color: black;
  width: 90%;
  margin: 0 auto;
}

.notam-error {
  color: red;
  font-size: 1rem;
  margin: 10px 0;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: 20px;
  width: 100%;
}

.notam-input {
  width: 220px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notam-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3);
}

.notam-submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notam-submit-button:hover {
  background-color: #0056b3;
}

.dropdown-toggle {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.dropdown-menu {
  position: absolute;
  text-align: left;
  font-size: 14px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  top: 100%; 
}

.dropdown-item {
  margin-bottom: 5px;
}

.dropdown-item input {
  margin-right: 5px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.table-wrapper {
  display: flex;
  justify-content: center; 
  margin: 20px auto; 
  width: 100%; 
}

table {
  width: auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead th {
  background-color: white;
  color: black;
  padding: 10px;
  border-bottom: 2px solid #dddddd;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; 
}

tbody tr:hover {
  background-color: #f1f1f1; 
}

td {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  white-space: nowrap; 
  font-size: 14px;
}

th, td {
  text-align: left;
}

/*text column adjustment*/
td.text-column {
  max-width: 300px; 
  word-wrap: break-word;
  white-space: normal; 
  overflow: hidden; 
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    width: 100%;
    overflow-x: auto; 
  }

  table {
    width: 100%; 
  }
}
