.notam-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.notam-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  text-align: center;
  background: linear-gradient(145deg, #ffffff, #f4f4f4);
  transform: translateZ(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.notam-card.expanded {
  background: linear-gradient(145deg, #ffffff, #e0e0e0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.notam-card:hover {
  transform: translateY(-8px);
  box-shadow: 5px 5px 10px black, -5px -5px 10px darkgrey;
}

.notam-heading {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}

.notam-content {
  font-size: 1rem;
  color: black;
  width: 90%;
  margin: 0 auto;
}

.notam-error {
  color: red;
  font-size: 1rem;
  margin: 10px 0;
}

.notam-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.notam-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3);
}

.notam-submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notam-submit-button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead th {
  background-color: white;
  color: black;
  padding: 10px;
  border-bottom: 2px solid #dddddd;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  padding: 8px;
  border-bottom: 1px solid #dddddd;
}

th, td {
  text-align: left;
}

